<style>

.completed
{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

</style>

<div class="completed">
    <h5>Congratulations. You have completed your application. Get Applying!</h5>
    <a class="mt-2" href="/">Home</a>
</div>