@page "/testlogout"
@inject IJSRuntime jsr
@inject NavigationManager nav


    <style>
    
    .logout{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    </style>

   <div class="logout">
   
        <h5>Please wait. You're on your way out...</h5>

   </div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await jsr.InvokeVoidAsync("localStorage.removeItem", "user").ConfigureAwait(false);        
        nav.NavigateTo("api/ThirdPartyUser/LogOut", true);
    }
    
}